name: Build Container

on:
  workflow_call:
    inputs:
      context:
        description: Build context path
        required: false
        type: string
        default: .
      dockerfile:
        description: Dockerfile path
        required: false
        type: string
        default: ./Dockerfile

env:
  TAG: ghcr.io/flyinpancake/nag

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Gather Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.TAG }}

          # No major version tag until v1
          #  type=semver,pattern={{major}}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha

      - name: Log in to GHCR
        if: ${{ inputs.push }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
